/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
body {
    overflow-x: hidden
}
section.toggle {
    text-align: center
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.buttons button {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 15px 30px;
    color: #fff;
    background-color: #67b5d1;
}
.buttons button:hover,
.buttons button.active {
    background-color: #3184a1
}
.buttons button:focus {
    outline: none
}

button.close-menu {
    border-radius: 3px;
    border-color: rgb(148,2,20);
    margin: 5px 0;
    padding: 5px 15px;
    color: rgb(254,12,75);
    background-color: transparent;
    border: none;
    margin-top: 20%;
}

.slide-heading {
  color: #ccc;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  text-shadow: 0px 2px 3px #666;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
    position: fixed;
    z-index: 20;
    background: url('cf.png') ;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-right: solid 1px;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu a {
    font-weight: 300;
    color: #ccc;
    
}
button.close-menu:focus {
    outline: none
}

nav > .list-group > .list-group-item {
    background-color: transparent;
    border: none;
}

nav > .list-group > .list-group-item a:hover {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #fff;
}

nav > .list-group > .list-group-item a:focus {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #fff;
}


/* ###################################ruby######################################## */


/* slide menu left and right, push menu left and right */
nav.slide-menu-left-ruby,
nav.slide-menu-right-ruby,
nav.push-menu-left-ruby,
nav.push-menu-right-ruby {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left-ruby li,
nav.slide-menu-right-ruby li,
nav.push-menu-left-ruby li,
nav.push-menu-right-ruby li {
    display: block;
    text-align: center;
    border-bottom: solid 1px rgb(254,12,75);
}
nav.slide-menu-left-ruby li:first-child,
nav.slide-menu-right-ruby li:first-child,
nav.push-menu-left-ruby li:first-child,
nav.push-menu-right-ruby li:first-child {
    border-top: none
}
nav.slide-menu-left-ruby li:last-child,
nav.slide-menu-right-ruby li:last-child,
nav.push-menu-left-ruby li:last-child,
nav.push-menu-right-ruby li:last-child {
    border-bottom: none
}
nav.slide-menu-left-ruby a,
nav.slide-menu-right-ruby a,
nav.push-menu-left-ruby a,
nav.push-menu-right-ruby a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left-ruby,
nav.push-menu-left-ruby {
    left: -300px
}
nav.slide-menu-right-ruby,
nav.push-menu-right-ruby {
    right: -300px
}
body.sml-open-ruby nav.slide-menu-left-ruby,
body.pml-open-ruby nav.push-menu-left-ruby {
    left: 0
}
body.smr-open-ruby nav.slide-menu-right-ruby,
body.pmr-open-ruby nav.push-menu-right-ruby {
    right: 0
}
body.pml-open-ruby #wrapper {
    left: 300px
}
body.pmr-open-ruby #wrapper {
    left: -300px
}
body.pmt-open-ruby #wrapper {
    top: 100px
}
body.pmb-open-ruby #wrapper {
    top: -100px
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 860px) { 
	.buttons br {
	  	display: none
	}
	.buttons button {
	  	padding: 10px 20px
	}
}
@media all and (max-width: 330px) { 
	nav.slide-menu-lef-ruby,
	nav.slide-menu-right-ruby,
	nav.push-menu-left-ruby,
	nav.push-menu-right-ruby {
	  	top: 0;
	  	width: 100%;
	}
	nav.slide-menu-left-ruby,
	nav.push-menu-left-ruby {
	  	left: -100%
	}
	nav.slide-menu-right-ruby,
	nav.push-menu-right-ruby {
	  	right: -100%
	}
	body.sml-open-ruby nav.slide-menu-left-ruby,
	body.pml-open-ruby nav.push-menu-left-ruby {
	  	left: 0
	}
	body.smr-open-ruby nav.slide-menu-right-ruby,
	body.pmr-open-ruby nav.push-menu-right-ruby {
	  	right: 0
	}
	body.pml-open-ruby #wrapper {
	  	left: 100%
	}
	body.pmr-open-ruby #wrapper {
	  	left: -100%
	}
}

/* ###################################python######################################## */

/* slide menu left and right, push menu left and right */
nav.slide-menu-left-python,
nav.slide-menu-right-python,
nav.push-menu-left-python,
nav.push-menu-right-python {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left-python li,
nav.slide-menu-right-python li,
nav.push-menu-left-python li,
nav.push-menu-right-python li {
    display: block;
    text-align: center;
    border-bottom: solid 1px rgb(254,12,75);
}
nav.slide-menu-left-python li:first-child,
nav.slide-menu-right-python li:first-child,
nav.push-menu-left-python li:first-child,
nav.push-menu-right-python li:first-child {
    border-top: none
}
nav.slide-menu-left-python li:last-child,
nav.slide-menu-right-python li:last-child,
nav.push-menu-left-python li:last-child,
nav.push-menu-right-python li:last-child {
    border-bottom: none
}
nav.slide-menu-left-python a,
nav.slide-menu-right-python a,
nav.push-menu-left-python a,
nav.push-menu-right-python a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left-python,
nav.push-menu-left-python {
    left: -300px
}
nav.slide-menu-right-python,
nav.push-menu-right-python {
    right: -300px
}
body.sml-open-python nav.slide-menu-left-python,
body.pml-open-python nav.push-menu-left-python {
    left: 0
}
body.smr-open-python nav.slide-menu-right-python,
body.pmr-open-python nav.push-menu-right-python {
    right: 0
}
body.pml-open-python #wrapper {
    left: 300px
}
body.pmr-open-python #wrapper {
    left: -300px
}
body.pmt-open-python #wrapper {
    top: 100px
}
body.pmb-open-python #wrapper {
    top: -100px
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 860px) { 
	.buttons br {
	  	display: none
	}
	.buttons button {
	  	padding: 10px 20px
	}
}
@media all and (max-width: 330px) { 
	nav.slide-menu-lef-python,
	nav.slide-menu-right-python,
	nav.push-menu-left-python,
	nav.push-menu-right-python {
	  	top: 0;
	  	width: 100%;
	}
	nav.slide-menu-left-python,
	nav.push-menu-left-python {
	  	left: -100%
	}
	nav.slide-menu-right-python,
	nav.push-menu-right-python {
	  	right: -100%
	}
	body.sml-open-python nav.slide-menu-left-python,
	body.pml-open-python nav.push-menu-left-python {
	  	left: 0
	}
	body.smr-open-python nav.slide-menu-right-python,
	body.pmr-open-python nav.push-menu-right-python {
	  	right: 0
	}
	body.pml-open-python #wrapper {
	  	left: 100%
	}
	body.pmr-open-python #wrapper {
	  	left: -100%
	}
}


/* ###################################c++######################################## */

/* slide menu left and right, push menu left and right */
nav.slide-menu-left-cplusplus,
nav.slide-menu-right-cplusplus,
nav.push-menu-left-cplusplus,
nav.push-menu-right-cplusplus {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left-cplusplus li,
nav.slide-menu-right-cplusplus li,
nav.push-menu-left-cplusplus li,
nav.push-menu-right-cplusplus li {
    display: block;
    text-align: center;
    border-bottom: solid 1px rgb(254,12,75);
}
nav.slide-menu-left-cplusplus li:first-child,
nav.slide-menu-right-cplusplus li:first-child,
nav.push-menu-left-cplusplus li:first-child,
nav.push-menu-right-cplusplus li:first-child {
    border-top: none
}
nav.slide-menu-left-cplusplus li:last-child,
nav.slide-menu-right-cplusplus li:last-child,
nav.push-menu-left-cplusplus li:last-child,
nav.push-menu-right-cplusplus li:last-child {
    border-bottom: none
}
nav.slide-menu-left-cplusplus a,
nav.slide-menu-right-cplusplus a,
nav.push-menu-left-cplusplus a,
nav.push-menu-right-cplusplus a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left-cplusplus,
nav.push-menu-left-cplusplus {
    left: -300px
}
nav.slide-menu-right-cplusplus,
nav.push-menu-right-cplusplus {
    right: -300px
}
body.sml-open-cplusplus nav.slide-menu-left-cplusplus,
body.pml-open-cplusplus nav.push-menu-left-cplusplus {
    left: 0
}
body.smr-open-cplusplus nav.slide-menu-right-cplusplus,
body.pmr-open-cplusplus nav.push-menu-right-cplusplus {
    right: 0
}
body.pml-open-cplusplus #wrapper {
    left: 300px
}
body.pmr-open-cplusplus #wrapper {
    left: -300px
}
body.pmt-open-cplusplus #wrapper {
    top: 100px
}
body.pmb-open-cplusplus #wrapper {
    top: -100px
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 860px) { 
	.buttons br {
	  	display: none
	}
	.buttons button {
	  	padding: 10px 20px
	}
}
@media all and (max-width: 330px) { 
	nav.slide-menu-lef-cplusplus,
	nav.slide-menu-right-cplusplus,
	nav.push-menu-left-cplusplus,
	nav.push-menu-right-cplusplus {
	  	top: 0;
	  	width: 100%;
	}
	nav.slide-menu-left-cplusplus,
	nav.push-menu-left-cplusplus {
	  	left: -100%
	}
	nav.slide-menu-right-cplusplus,
	nav.push-menu-right-cplusplus {
	  	right: -100%
	}
	body.sml-open-cplusplus nav.slide-menu-left-cplusplus,
	body.pml-open-cplusplus nav.push-menu-left-cplusplus {
	  	left: 0
	}
	body.smr-open-cplusplus nav.slide-menu-right-cplusplus,
	body.pmr-open-cplusplus nav.push-menu-right-cplusplus {
	  	right: 0
	}
	body.pml-open-cplusplus #wrapper {
	  	left: 100%
	}
	body.pmr-open-cplusplus #wrapper {
	  	left: -100%
	}
}