@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf");
}

body {
  background: #fefefe;
  color: #1f1f1f;
  font-family: "Proxima Nova", "Helvetica Neue", serif;
  font-size: 16px;
}

.navbar {
  background-color: #fefefe;
}

#launch-rocket {
  width: 20%;
  display: block;
  margin: auto;
}
